@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Medium.ttf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
}
body {
    background: #f2f2f2;
}
#spinner {
    margin: 50px auto;
    text-align: center;
}
#empty-result {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}
#wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 0;
}
