@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Medium.ttf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
}
body {
    background: #f2f2f2;
}
#spinner {
    margin: 50px auto;
    text-align: center;
}
#empty-result {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}
#wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 0;
}

#title {
    font-size: 46px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

#description {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    max-width: 700px;
    margin: auto;
}

/* Select Styles */
#hood-wrapper {
    background-image: url("../assets/images/bg_large.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    padding: 0;
}

#selects-logo {
    height: 90px;
    padding: 32px 0 0 120px;
    background-color: #f2f2f2;
}

#search-selectors-wrapper {
    max-width: 700px;
    margin: 50px auto 0 auto;
}

#search-wrapper {
    border: 1px solid #ffffff;
    padding: 0;
    margin: 0 auto 15px auto;
    background-color: #ffffff;
    border-radius: 5px;
    width: 621px;
    display: flex;
}
#search-input {
    box-sizing: border-box;
    /* width: 100%; */
    height: 45px;
    background: #ffffff;
    border: none;
    margin: 0;
    padding: 0 15px;
    flex-grow: 4;
}

#search-icon {
    margin: 0 10px 0 0;
    height: 45px;
    border: none;
    background: none;
    flex-grow: 0;
}

#selectors-wrapper {
    padding: 0;
    margin: 0 auto 15px auto;
    width: 621px;
    display: flex;
    justify-content: space-around;
}

.selector-input {
    box-sizing: border-box;
    width: 200px;
    height: 38px;

    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fff;
}

.country-selector-input {
    margin-left: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #fff;
}

.state-selector-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #fff;
}

option {
    width: 126px;
    height: 208px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 31px;
    color: #354556;
}

@media only screen and (max-width: 767px) {
    #header-wrapper {
        width: 288px;
        margin: auto;
    }
    #hood-content-wrapper {
        width: 288px;
        margin: auto;
    }
    #title-description-wrapper {
        padding-top: 50px;
        margin-bottom: 30px;
    }
    #title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
    }
    #description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }
    #search-selectors-wrapper {
        display: block;
        width: 288px;
        margin: 40px auto 0 auto;
    }
    #search-wrapper,
    #selectors-wrapper,
    .selector-input {
        display: block;
        width: 100%;
    }
    #search-input {
        width: 90%;
    }
    .selector-input {
        margin: 5px 0;
        border-radius: 5px;
        border: 2px solid #fff;
    }
    /* Tile Styles */
    .tile {
        margin: 20px auto;
        padding: 43px 24px 33px 24px;
        min-height: 418px;
        max-width: 288px;
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(5, 27, 43, 0.14);
        border-radius: 5px;
    }
    .tile-header {
        margin-bottom: 40px;
    }

    .tile-body {
        border-bottom: 1px solid #dcdee0;
        margin-bottom: 24px;
        padding-bottom: 32px;
    }

    .tile-company-name {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 32px;
        color: #354556;
        margin-bottom: 20px;
    }
    .tile-company-address {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #354556;
        /* margin-bottom: 5px; */
    }

    .tile-company-website {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: #0c70b8;
        /* text-decoration: none; */
        display: block;
    }

    .tile-company-phone {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 32px;
        color: #354556;
    }

    .tile-company-status {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 32px;
        color: #354556;
    }
}

@media only screen and (min-width: 767px) {
    #title-description-wrapper {
        padding-top: 120px;
    }
    .tile {
        display: flex;

        margin: 20px auto;
        padding: 33px 33px 33px 55px;
        max-width: 1110px;
        min-height: 150px;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(5, 27, 43, 0.14);
    }

    .tile-header {
        margin-right: 76px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex-grow: 2; */
    }

    .tile-body {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
    }

    .tile-footer {
        display: flex;
        justify-content: space-between;
        /* background-color: red; */
        width: 50%;
    }

    .tile-company-name {
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 32px;
        color: #354556;
        margin-bottom: 15px;
    }
    .tile-company-address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #354556;
    }
    .tile-footer-website-phone {
        border-right: 1px solid #dcdee0;
        width: 50%;
    }

    .tile-company-website {
        font-size: 14px;
        line-height: 32px;
        color: #0068da;
    }

    .tile-company-phone {
        font-size: 13px;
        line-height: 32px;
        color: #354556;
    }

    .tile-company-status {
        text-align: center;
        width: 50%;
    }
}
